@media print {
  body * {
    visibility: hidden;
  }

  .printable,
  .printable * {
    visibility: visible;
  }

  .printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.PhoneInput {
  width: 100%;
  display: flex;
  align-items: center;
}

.PhoneInputCountry {
  margin-right: 8px;
}

.PhoneInputCountryIcon {
  width: 22px;
  height: 16px;
}

.PhoneInputCountryIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.PhoneInputInput {
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
  background: transparent;
}
